:root {
    --bg-color: #f5f6f5;
    --text-color: #202142;
    --card-bg: #fff;
}

#theme-switch:checked ~ .theme-example {
    --bg-color: #202142;
    --text-color: #dcdce6;
    --card-bg: #333232;
}

body{
    background-color: var(--bg-color);
}


.theme-example {
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 20px;
    border-radius: 7px;
}
label{
    font-size: 42px;
}

#theme-switch {
    display: none;
}