.flex {
    display: flex;
    width: 700px;
    /* height: 200px; */
    padding: 20px;
    border: 7px solid red;

    flex-wrap: wrap;

    flex-direction: row;

    justify-content: center;
    /* align-items: center; */

    /* gap: 20px; */
    gap: 20px;

}

.flex-item {
    background-color: rgb(22, 243, 255);
    width: 150px;
    height: 150px;

}