@font-face {
    font-family: "Inter-Regular" format("wolf2");
    src:url(".//тутшрифт");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Bold";
    src:url(".//тутшрифт");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


