.catalog__card {
    background-color: var(--card-color);
    border-radius: 12px;
    box-shadow: var(--card-shadow);
    padding: var(--padding-base);
    max-width: 442px;
    flex: 1 0 250px;

}

.catalog__card.featured {
    order: -1;
    flex-grow: 2;
}