.body {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-base);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-base)
}

