*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 900px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 100%);

}

.form {
    background-color: rgb(255, 255, 255);
    padding: 42px;
    display: flex;
    flex-direction: column;
    width: 600px;
    align-content: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / .25);
    
}

.form__label {
    display: block;
    font-weight: bold;
    margin-block-end: 12px;
}

.form__label::after {
    content: " *";
    color: rgb(255, 0, 0)
}

.form__input{
    padding: 15px;
    font-size: 16px;
    font-size: 18px;
    border: 1px solid rgb(27, 26, 26);
    border-radius: 5px;
    margin-block-end: 10px;
}

.form__input::placeholder{
    color: rgb(0, 0, 0 / 0.25)
}

.form__input:valid{
    border: 1px solid rgb(25, 255, 4);
    outline: rgb(0, 255, 98);

}

.form__input:invalid:not(:placeholder-shown){
    border: 1px solid rgb(255, 0, 0);
    outline: 1px solid rgb(255, 0, 0);
}

.form__des{
    font-size: 12px;
    margin-block-end: 20px;
}

select {
    padding: 15px;
    font-size: 10px;
    font-size: 15px;
    border: 1px solid rgb(39, 36, 36);
    border-radius: 5px;
    margin-block-end: 10px;
}

textarea {
    padding-bottom: 30px;
    margin-bottom: 15px;
    resize: vertical;
}

select:not(:placeholder-shown){
    border: 1px solid rgb(255, 0, 0);
    outline: 1px solid rgb(255, 0, 0);
}

select
:valid{
    border: 1px solid rgb(25, 255, 4);
    outline: rgb(0, 255, 98);

}

button {
    color: white;
    background-color: rgba(65, 146, 251, 1);
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
}

button:hover {
    color:white;
    background-color: rgba(14, 98, 207, 1);
    border: 2px solid rgb(0, 0, 0);
}

input:focus {
    border: 1px solid rgba(65, 146, 251, 1);
    outline: 1px solid rgba(65, 146, 251, 1 );
}

select:focus{
    border: 1px solid rgba(65, 146, 251, 1);
    outline: 1px solid rgba(65, 146, 251, 1);
}

textarea:focus{
    border: 1px solid rgba(65, 146, 251, 1);
    outline: 1px solid rgba(65, 146, 251, 1);
}

button:focus{
    border: 1px solid rgba(65, 146, 251, 1);
    outline: 1px solid rgba(65, 146, 251, 1);
}