.grid-conteiner {
    display: grid;
    border: 2px solid red;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
    /* column-gap: 1rem;
    row-gap: 1rem; */

    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-rows: 142px 242px 1fr;  */

    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-auto-columns: 200px;


}

.grid-item {
    background-color:rgb(2, 200, 207);
    padding: 1rem;
    border-radius: 5px;
}

.large {
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    /* grid-column: 1 / 3; */
    grid-row: span 2;
    border-radius: 5px;
    
}





/* .gc2 {
    grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
} */

/* .grid-template-areas{
        "som som som"
        "sidebar main main"
        "sidebar main main";
} 

.grid-item {
    background-color:bisque ;
    padding: 1rem;
    border-radius: 5px;
}

.header {
    grid-area: som;
}

.sidebar {
    grid-area: sidebar;
}
.main {
    grid-area: main;
}  */