/* .container {
    margin-top: 150px;
    position: relative;
    border: 2px solid red;
    height: 500px;

} */

/* .box {
    display: inline-block;
    width: 200px;
    height: 350px;
    padding: 1rem;
    background-color: aquamarine;
}

.relative {
    position: sticky;
    background-color: rgb(151, 0, 0);
    color: white;

    top: 30px;
    left: 20px; 
    right: 40px;
    bottom: 40px; 
    inset: 0; 
}

.sticky{
    border: 3px solid red;
}  */

header {
    position: relative;
    height: 550px;

    background-image: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.h1 {
    font-size: 50px;
    text-align: center;
    color: white;
    padding-top: 250px;
}

header::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: brown;
    opacity: .7;
    z-index: -1;
}


