body {
    background-color: rgb(238, 225, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(135deg, rgb(21, 47, 105), rgb(179, 66, 255));
    color:azure;
    text-align: center;
    padding: 20px;
}

ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px
}

a {
    color:rgb(251, 240, 255);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color:rgb(210, 190, 255);
    text-decoration: underline;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

 form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
 }

 fieldset {
    border: 2px solid rgb(196, 162, 218);
    border-radius: 5px;
    padding: 22px;
 }

 legend {
    font-weight: bold;
 }

 label {
    display: block;
 }

 .input{
    margin-bottom: 15px;
 }

 input[type="text"], input[type="email"] {
    width: 90%;
    padding: 12px;
    border: none;
 } 
 
 textarea:focus {
    outline: 3px solid rgb(169, 145, 255);
    border: none;
 }

button {
    background-color: rgb(173, 123, 255);
    border: none;
    width: 200px;
    padding: 20px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    background-color:hsl(276, 100%, 63%);
    color: white
}

footer {
    background: linear-gradient(135deg, hsl(276, 100%, 63%), hsl(221, 67%, 25%));
    color:azure;
    text-align: center;
    padding: 20px;
}